* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #fffffa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3c4859;
}

/* Global/Custom Components */
a {
  text-decoration: none;
}

button,
input,
textarea,
select {
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

input,
select,
textarea {
  height: 45px;
  text-align: left;
  border: 2px solid #0facf3;
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 0 10px;
  background: transparent;
}

input[type="file"] {
  padding-top: 8px;
}

textarea {
  padding: 10px;
  height: 90px;
}

button {
  cursor: pointer;
}

.btn {
  padding: 12px 25px;
  border-radius: 7px;
  font-weight: 600;
  display: inline-block;
  min-width: 110px;
}

.btn-hollow {
  border: 2px solid #fffffa;
  color: #fffffa;
}

.btn-warning {
  color: #fffffa;
  background: #ef271b;
}

.btn-primary {
  background: #0facf3;
  color: #fffffa;
}

.btn-white {
  background: #fffffa;
  color: #0facf3;
  border: 2px solid #fffffa;
}

.card {
  padding: 20px;
  border-left: 3px solid #0facf3;
  position: relative;
}

.card p {
  margin-bottom: 15px;
}

.column {
  display: flex;
  justify-content: space-between;
}

.circle-icon {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #0facf3;
  color: #fffffa;
  display: block;
  line-height: 60px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

.container {
  background: #f5f6f8;
  padding: 95px 40px;
}

.form-container > .section-title,
.form-card {
  align-self: center;
}

label {
  margin-bottom: 5px;
  font-weight: 600;
}

table {
  background: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  border-left: 3px solid #0facf3;
}

td .form-element {
  margin-bottom: 0;
}

td,
th {
  padding: 20px 10px;
  border-bottom: 1px solid #dddddd;
}

/* Navigation */
header {
  box-shadow: rgba(31, 53, 78, 0.11) 0 1px;
}

.hamburger-menu {
  display: none;
}

.navbar {
  display: flex;
}

.navbar-logo {
  font-weight: 600;
  font-size: 2em;
  padding: 15px 40px;
  text-decoration: none;
  color: #0facf3;
  letter-spacing: 0.07em;
}

.navbar-menu {
  display: flex;
  margin-left: auto;
  padding: 0 40px;
}

.navbar-link {
  display: inline;
}

.navbar-link a {
  display: block;
  padding: 26px 15px;
  color: #0facf3;
  font-weight: 600;
}

.navbar-link:first-child a {
  background: #0facf3;
  color: #fffffa;
}

.navbar-link a:hover {
  color: #3c4859;
}

/* Main Section */
main {
  display: flex;
  flex-direction: column;
}

/* Hero Section */
.hero {
  align-items: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(11, 36, 162, 0.5),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/crowd.jpg);
  background-size: cover;
  height: calc(100vh - 74px);
  justify-content: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
}

.hero-title,
.hero-paragraph {
  margin-bottom: 40px;
}

.hero-title {
  font-size: 3em;
  text-transform: uppercase;
}

.hero-paragraph {
  font-size: 1.5em;
}

.hero-cta {
  display: flex;
  width: 26%;
  justify-content: space-between;
}

/* Homepage Sections */
section {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

section > .btn {
  align-self: center;
}

.steps {
  display: flex;
  justify-content: space-between;
}

.column.step {
  flex-basis: 50%;
  flex-direction: column;
  padding: 20px 50px;
}

.column .circle-icon {
  align-self: center;
  margin-bottom: 20px;
}

.section-title,
.section-text {
  position: relative;
  margin-bottom: 15px;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 60px;
  border: 1.5px solid #0facf3;
}

/* Featured Reports */
.featured {
  margin-top: -35px;
  background: #f5f6f8;
  clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
  padding-top: 110px;
}

.featured-cards {
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
}

.featured-cards .report-card {
  flex-basis: 23.5%;
  background: #fffffa;
  margin-bottom: 20px;
}

.report-user {
  display: block;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.report-media,
.report-user {
  color: #0facf3;
  text-decoration: underline;
}

.report-status {
  position: absolute;
  right: -10px;
  top: -10px;
  background: #ef271b;
  color: #fffffa;
  padding: 4px 10px;
}

.reports-container {
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
}

.report-status::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #ef271b;
  z-index: -1;
  top: 25px;
  right: 0px;
  transform: skewY(-45deg);
}

/* Footer */
footer {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.credits {
  font-weight: 600;
}

/* Form Card */
.form-card {
  width: 45%;
  background: #fffffa;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  margin-top: 25px;
}

/* Profile Card */
.profile,
.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile-card {
  background: #fffffa;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.stats {
  position: relative;
  margin-bottom: 20px;
}

.stats:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 50px;
  right: -25px;
  top: 5px;
  border-right: 2px solid #f5f6f8;
}

p.stat-value {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

/* Reports Table */
.stats-table {
  margin-top: 20px;
  background: #fffffa;
}

.profile-table {
  flex-basis: 73%;
}

.admin-table {
  flex-basis: 100%;
}

.admin-table > .stats-table {
  width: 100%;
}

td .report-user {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
}

tr > td:nth-child(4),
tr > td:nth-child(5) {
  text-align: center;
}

/* User reports */
.user-reports {
  flex-basis: 73%;
}

.user-reports > .featured-cards {
  justify-content: flex-start;
}

.user-reports .report-card {
  flex-basis: 30%;
  margin-right: 20px;
}

/* For smartphones (<768px) */
@media screen and (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    position: absolute;
    max-height: 0;
    top: 73px;
    left: 0;
    right: 0;
    padding: 0;
    width: 100%;
    background: #0facf3;
    overflow: hidden;
    transition: all 250ms ease-in;
  }

  .navbar-menu.menu-open {
    max-height: 310px;
    z-index: 1000;
  }

  .navbar-link a {
    color: #fffffa;
    padding: 20px;
  }

  .hamburger-menu {
    position: absolute;
    padding: 37px;
    right: 0;
    background: transparent;
  }

  .hamburger-menu.menu-open > .hamburger {
    background: transparent;
  }

  .hamburger-menu.menu-open > .hamburger::after,
  .hamburger-menu.menu-open > .hamburger::before {
    top: 0;
    width: 30px;
  }

  .hamburger-menu.menu-open > .hamburger::after {
    transform: rotate(-45deg);
  }

  .hamburger-menu.menu-open > .hamburger::before {
    transform: rotate(45deg);
  }

  .hamburger {
    top: 36px;
    height: 2px;
    background: #0facf3;
    display: block;
    position: absolute;
    width: 30px;
    right: 20px;
  }

  .hamburger::before {
    top: 7px;
  }

  .hamburger::after {
    bottom: 7px;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    height: 2px;
    background: #0facf3;
    display: block;
    position: absolute;
    width: 30px;
    right: 0px;
    transition: all 250ms ease-in;
  }

  .container {
    padding: 40px 20px;
  }

  .form-container {
    padding: 40px 0;
  }

  .hero {
    padding: 25px;
    height: calc(100vh - 73px);
  }

  .hero-title {
    font-size: 2em;
    margin-bottom: 15px;
    text-align: center;
  }

  .hero-paragraph {
    font-size: 1.3em;
  }

  .hero-cta {
    width: 50%;
  }

  .hero-cta > a:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .hero-cta,
  .steps,
  .featured-cards,
  .profile {
    flex-direction: column;
  }

  section {
    padding: 20px;
  }

  .navbar-logo {
    font-size: 1.5em;
    padding: 20px;
  }

  .column.step {
    padding: 20px;
  }

  .featured {
    margin-top: -40px;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 150px;
  }

  .report-card:last-child {
    margin-bottom: 0;
  }

  .form-card {
    width: 90%;
    padding: 50px 25px;
  }

  .profile-card {
    width: 100%;
  }

  .profile-table,
  .admin-table {
    overflow-x: auto;
    width: 100%;
  }

  td .report-user {
    text-align: left;
  }

  td .form-element {
    margin-bottom: 15px;
  }

  .user-reports > .featured-cards > .report-card {
    margin-right: 0;
  }
}

/* Adjust container size for (width > 500 and width < 769px) */
@media screen and (min-width: 500px) and (max-width: 768px) {
  section {
    padding: 20px 60px;
  }
}
